<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Content Detector</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>

  <div class="header-container">
    <h1>AI Content Detector</h1>
    <p>Check if the content is AI-generated or human-written</p>
  </div>

  <div class="container">

    <div class="left-section">
      
      <textarea id="content" placeholder="Paste text here..."></textarea>

      <div class="input-controls">
        
        <p class="file-direction">OR upload a file (.txt, .pdf, .doc, .docx):</p>
        
        <div class="file-input-row">
          <input type="file" id="fileInput">
        </div>

        <button id="checkBtn">Check</button>
        
      </div>
    </div>

    <div class="right-section">

      <div id="result">
        </div>
      
    </div>

  </div> <script src="static/script.js"></script>
</body>
</html>